body{
    background-color: #f5d9d5;
    font-family: "Playwrite IE Guides", serif;;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 400;
}

#mainNavbar .nav-link {
    color: white;
    font-size: 1.2rem;
}

#mainNavbar .nav-link:hover {
    color: #d43108;
}

#mainNavbar .navbar-brand {
    color: #d43108;
}

h2 {
    font-family: "open-sans", serif;
    color: rgba(15, 173, 123, 0.628);
    font-weight: 100;
    font-size: 4rem;
}

h3 {
    color: blue;
    font-weight: 100;
}
.apple {
    color: #08d490;
}

p {
    font-family: 'Courier New', Courier, monospace;
}

span {
    color: #d43108;
}

svg {
    color: rgb(234, 234, 100);
}

.btn {
    font-family: 'Courier New', Courier, monospace;
}

.mainNavbar.scrolled {
    background: rgb(222, 192, 222);
    transition: background 1s;
}


@media (max-width: 1200px) {
    body {
        background-color: rgba(150, 212, 225, 0.696);
    }
    h2 {
        font-size: 2rem;
    }
}

