body{
    background-color: #f5d9d5;
    font-family: "Playwrite IE Guides", serif;;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 400;
}

#mainNavbar .nav-link {
    color: white;
    font-size: 1.2rem;
}

#mainNavbar .nav-link:hover {
    color: #d43108;
}

#mainNavbar .navbar-brand {
    color: #d43108;
}

h2 {
    font-family: "open-sans", serif;
    color: rgba(15, 173, 123, 0.628);
    font-weight: 100;
    font-size: 4rem;
}

span {
    color: #d43108;
}

@media (max-width: 1200px) {
    body {
        background-color: aliceblue;
    }
    h2 {
        font-size: 2rem;
    }
}